
<div class="banner">
  <div class="container">
    <div class="container-flex">
      <div class="banner-welcome">
        <h1 style="font-family: 'Poppins', sans-serif; font-weight: 900; color:#21496F;">Having a health insurance is this simple</h1>
        <br>
        <p style="font-family: 'Poppins', sans-serif; font-weight: 400; color:#21496F;">Tell us what your needs are and in less than 5 minutes you will be able to get your insurance.</p>
        <p style="font-family: 'Poppins', sans-serif; font-weight: 400; color:#21496F;">No hidden fees. Don't talk to lawyers. It's that easy.</p>
        <%= link_to "Start", new_user_registration_path, class:"button-green" %>
      </div>
      <div id="image-banner"> <%= image_tag "https://res.cloudinary.com/hugeyeti/image/upload/v1638378799/Health%20Haus/banner-people_nfwq7l.svg" %> </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="cards-landing">
      <div class="card-landing">
        <%= link_to "FOR INDIVIDUALS", search_plans_path, class: "card-landing-text" %>
      </div>
      <div class="card-landing">
        <%= link_to "FOR COUPLES", search_plans_path, class: "card-landing-text" %>
      </div>
      <div class="card-landing">
        <%= link_to "FOR FAMILIES", search_plans_path, class: "card-landing-text" %>
      </div>
    </div>
</div>
