
<div class="banner">
  <div class="container">
    <div class="banner-welcome">
      <h1 style="font-family: 'Poppins', sans-serif; font-weight: 700;">Welcome to Health Haus</h1>
      <p>A simple way to get health insurance.</p>
      <%= link_to "Sign Up", new_user_session_path, class:"button-green" %>
      <div class="banner-text">
        <p>We believe choosing a healthcare plan should be easy and transparent.</p>
        <p>Just let us know what your needs are and we’ll browse thousands <br>of plans to offer you the one that fits best.</p>
        <p>No hidden fees. No talking to lawyers. It's that simple.</p>
      </div>
    </div>
    <div id="image-banner"> <%= image_tag "https://res.cloudinary.com/hugeyeti/image/upload/v1638378799/Health%20Haus/banner-people_nfwq7l.svg" %> </div>
  </div>
</div>

<div class="container">
  <div class="cards-landing">
    <div class="card-landing">
      <%= link_to "For Me", search_plans_path, class: "card-landing-text" %>
      <p>Choose the right insurance plan for your needs.</p>
    </div>
    <div class="card-landing">
      <%= link_to "For My Spouse and Me", search_plans_path, class: "card-landing-text" %>
      <p>Choose the insurance plan that works best for couples.</p>
    </div>
    <div class="card-landing">
      <%= link_to "For My Family", search_plans_path, class: "card-landing-text" %>
      <p>Choose the insurance plan that works best for families with kids.</p>
    </div>
  </div>
</div>
