<div class="container">
  <div class="row mt-5">
    <h2>These plans best fit your needs.</h2>
  </div>

  <div class="card-layout">
    <% @plans.each_slice(2) do |s| %>
      <div class="card-plans" >
        <% s.each do |plan| %>
          <div class="card-plans">
            <div class="card-body">
              <p><strong><%= plan.category %></strong></p>
              <p>Monthly Cost: <strong>$<%= plan.price %></strong></p>
              <p>Max Amount Covered: <strong>$<%= plan.max_amount %></strong></p>
              <p> Coverage: <strong><%= plan.coverage_percent %></strong></p>
              <p>Deductible: <strong>$<%= plan.deductible %></strong></p>
              <div class="plan-card-action" style="justify-items: end;">
                <%= link_to 'View Details', plan_path(plan), class: "button-green" %>
              </div>
            </div>
          </div>
        <%end%>
      </div>
    <% end %>
  </div>
</div>
