<div style= "background-image: url('https://res.cloudinary.com/hugeyeti/image/upload/v1638830968/Health%20Haus/bacgkround-forms_coehdr.svg'); background-size: cover;
  background-position: center;">
  <div class= "container mb-5" style= "display: flex; flex-direction: row; justify-content: center;">
    <div style="background-color: white; width: 800px; margin-top: 50px; padding: 50px 30px; border-radius: 8px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);">
      <h2> For Individuals </h2>
      <p>We have a few questions about what you want for your health insurance.</p>
      <div class="row">
            <div class="col-12">
              <hr>
              <div class="form">
                <%= simple_form_for(@plan, url: search_results_plans_path) do |f| %>
                  <%= f.input :price, as: :integer, label: "1. How much do you want to pay each month?", placeholder: 'Monthly price' %>
                  <%= f.input :max_amount, label: "2. Up to how much do you want to be covered?", placeholder: 'Maximum coverage' %>
                  <%= f.input :deductible, label: "3. How much do you want to pay as a deductible?",placeholder: 'Deductible' %>
                  <%= f.input :coverage_percent, label:"4. Do you want 100% coverage or up to how much?", placeholder: 'Total coverage, in percent', collection: 75..100, id: "example"  %>
                  <button type="button" class="btn button-green" data-toggle="modal" data-target="#exampleModal">
                    Search Plans
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel"> 🤖<strong>Analyzing thousands of options...</strong></h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p> 🎉 We found <strong>6</strong> plan options that match your needs!</p>
                        </div>
                        <div class="modal-footer">
                          <%= f.submit "Go to Plans", class: "btn button-green"%>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
